//COLOR
$color-dark-cian: hsl(183, 100%, 15%);
$color-light-cian: hsl(185, 41%, 84%);
$color-lighter-cian: rgb(66, 183, 168);

$color-dark-grayish-cyan: hsl(186, 14%, 43%);
$color-grayish-cyan: hsl(184, 14%, 56%);
$color-white: hsl(0, 0%, 100%);
$color-orange: rgb(173, 94, 4);

//FONT
$font-primary: "Space Mono", monospace;
$default-font-size: 1.6rem;

//BREAK POINTS
$bp-large: 87.5em; //1400px
$bp-medium: 68.75em; //1100px
$bp-small: 56.25em; //900px
$bp-mobile: 43.75em; //700px
